# Python
__pycache__/
*.pyc

# Bench/site runtime
assets/
sites/*/public/**
sites/*/private/**
sites/*/locks/**
sites/*/logs/**
sites/*/backups/**
sites/*/error-snapshots/**
sites/*/database.sql.gz
config/pids/
config/*.pid
config/*lock

# Node & build
node_modules/
*.map

# Redis / runtime dumps
dump.rdb

# Local envs & IDE
.env
.venv/
.idea/
.vscode/

# Ollama models (DO NOT COMMIT)
.ollama/
